@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --team1-color: rgb(99, 143, 226);
    --team2-color: rgb(216, 67, 67);
}

html {
    background-color: transparent;
    font-size: 30px;
    font-family: 'Roboto';
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.scoreboard {
    height: 55px;
    width: 500px;
    background-color: white;
    padding: 3px;
    display: flex;
}

.teams {
    display: flex;
    background: transparent;
    height: 100%;
    width: 100%;
}

.scores {
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}

.score {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 15px;
    flex: 1;
    min-width: 0px;
    max-width: 2000px;
    text-align: center;
}

.score span {
    margin-inline: 5px;
}

.team1-score {
    background: color-mix(in srgb, var(--team1-color) 50%, black 50%);
}

.team2-score {
    background: color-mix(in srgb, var(--team2-color) 50%, black 50%);
}

.team {
    background-color: rgb(116, 116, 116);
    display: inline;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.team.team1 {
    justify-content: end;
    background-color: var(--team1-color);
}

.team.team1 span {
    margin-right: 20px;
}

.team.team1 span:empty::after {
    content: "Lag 1";
}

.team.team2 {
    justify-content: start;
    background-color: var(--team2-color);
}

.team.team2 span {
    margin-left: 20px;
}
.team.team2 span:empty::after {
    content: "Lag 2";
}

.time {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
